:root{
    --border-radius: 20px 20px 20px 20px;
}
/* @font-face {
    font-family: "Roboto";
    src: url('./Roboto-Regular.ttf');
} */

.login-container{
    color: #B3DCC5;
    align-items: center;
    justify-content: center;
    font-size: large;
    margin-bottom:10px;
    font-size: 26px;
    font-weight: 700;
    box-sizing: border-box;
    z-index: 700;
}
.slot-container{
    bottom: 20px;
}
.a-login{
    color: #B3DCC5;
}
.p-login{
    font-size: 14px;
    margin-top: 10px;
}
.div-login-container{
    display: flex;
    flex-direction: column;
    width: 368px;
    margin:40px 60px 0px 60px;
}
.label-container{
    display:flex-start;
    align-items: center;
    justify-content: center;
    height:56px;
    width:100%;
    position: relative;
    margin-bottom: 20px;
    top:150px;
}
.input-label{
    padding: 10px;
    width: 100%;
    height: 100%;
    background-color: #B3DCC5;
    border:2px solid #B3DCC5;
    border-radius: var(--border-radius);
}
.input-label:focus{ 
    outline: none;
}

.btn-login-container{
    position: absolute;
    top: 530px;
    display: flex;
    justify-items: center;
    align-items: center; 
    width: 368px;
    height: 48px;
    
}
.btn-login{
    display: flex;
    background-color: #B3DCC5;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    top:280px;
    border-radius: 30px;
    transition: background-color 0.5s ease;
}
.btn-login:hover{
    background-color: #A0C4B1;
}
.btn-login:active{
    background-color: #CCF5DF;
    transition: background-color 0.1s ease;
}
input.input-label,
input.password-label{
    position: absolute;
    display: flex;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    height: 100%;
    background-color: #B3DCC5;
    border:2px solid #B3DCC5;
    border-radius: var(--border-radius);
    outline: none;
}
.sign-up-btn{
    position: absolute;
    display: flex;
    color:#B3DCC5;
    top:450px;
}
/* Errors */
.input-error{
    border-color: rgba(255, 7, 7, 0.74);
}
input::placeholder{
    color: rgb(65, 63, 63);
}