
:root{
    --border-color:#B3DCC5;
}
#logo-text{
    display: flex;
    align-items: center;
}
/* .logo-text-container{
    display: flex;
    margin-left: 20px;
    bottom: 5px;
    position: relative;
    height: 58px;
    width:200px;

} */
#logo-container{
    position: relative;
    display: flex;
    justify-items: center;
    align-items: center;
}
#logo{
    margin:20px 0px 0px 10px; 
    padding: 0px;
    font-size: 32px;
    font-family: "Aclonica";
    font-weight: 200;
    font-style: normal;
    align-items: start;
}
/* #text-align{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    margin:0;
    padding:0;
    list-style: none;
} */
li{
    display: flex;
    position: relative;
    /* padding: 1rem; */
}
.leaf{
    margin-top: 10px;
    width:40px;
}

#login:hover{
    
    background-color:var(--border-color);
}

#nav-element{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin:0px 10px;
    padding: 10px;
    
}
/* .ul-div{
    display: flex;
    position: relative;
} */
.model-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    
}
/* .model-content{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 528px;
    height: 600px;
    z-index: 1001;
    display: flex;
    overflow-y: auto;
    position: relative;
} */
.loading-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 4px;
    background-color: #ff4500; /* Цвет линии загрузки */
    animation: width 0.3s ease;
    z-index: 1000;
  }
.text-align{
    position: relative;
    display:flex;
    width:200px;
    margin-left: auto;
    margin-right: 1px;
    /* align-items: center;
    justify-content:right; */
    gap:20px;
    padding:0;
    list-style: none;
}
.test{
    position: relative;
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
}