:root{
    --border-color:#B3DCC5;
}
/* .search-bar{
    position: relative;
    width: 560px;
    height: 40px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
} */
/* .search-bar-content{
    width: 560px;
    display: flex;
    position: relative;
    align-items: center;
    justify-items: center;
} */